{
    "workflows": [{
            "workflowName": "tradingActivity",
            "workflowFilename": "trading.workflow.json"
        }],
    "producers": [{
        "type": "kafka",
        "broker.server": "hdp31.cloudera.com",
        "broker.port": 6667,
        "topic": "trades",
        "flatten": false,
        "sync": false,
        "kerberos": {
                "kerberos.conf.file":"/etc/krb5.conf",
                "kafka.brokers.servers":"hdp31.cloudera.com:6667",
                "kafka.jaas.file": "/etc/kafka/3.1.0.0-78/0/kafka_client_jaas.conf",
                "kafka.security.protocol": "SASL_PLAINTEXT",
                "kafka.service.name": "kafka"
        }
    }]
}
