{
    "workflows": [{
            "workflowName": "tradingActivity",
            "workflowFilename": "trading.workflow.json"
        }],
    "producers": [{
        "type": "kafka",
        "broker.server": "demo.hortonworks.com",
        "broker.port": 6667,
        "topic": "trades",
        "flatten": false,
        "sync": false
    }]
}
